extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Users
  ul
    li
      a(href='/newUser') Create a new User
    li
      a(href='/editUser') Edit an existing User
    li
      a(href='/deleteUser') Delete an existing User

  


  

